.ArtTN {
  width: max(10vw, 15vh);
  height: max(10vw, 15vh);

  border-style: solid;
  border-radius: 10px;
  border-width: 5px;

  border-color: white;

  margin-bottom: 10px;

  padding: 10px;

  background-size: cover;

  box-shadow: 0px 0px 0px 0px #000000;

  animation-name: RaiseAndShadowOut;
  animation-duration: 0.25s;
  animation-fill-mode: backwards;
}

.ArtTN:hover {
  animation-name: RaiseAndShadowIn;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes RaiseAndShadowIn {
  from {
    box-shadow: 0px 0px 0px 0px #000000;
  }
  to {
    box-shadow: 5px 5px 10px 0px #000000;
  }
}

@keyframes RaiseAndShadowOut {
  from {
    box-shadow: 5px 5px 10px 0px #000000;
  }
  to {
    box-shadow: 0px 0px 0px 0px #000000;

  }
}

.GridAlignment {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}
