<div class="ViewContent">
  Some projects can be costly to host, and so Caleb makes brief but thorough videos to demonstrate the technology.
  <div class="TechVideoDisplay">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/aQf-RynS0Zc?si=52LlleOM1157amvU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/1UsErXTUbDI?si=R9qrPX6c1D3LlzQp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>


</div>
