<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<img src="assets/MainPageBanner.png" class="MainBanner">
<div class="MainContent">
  <a routerLink="/Programming" class="ThumbnailFont Link ProgrammingThumbnail">
    <h1 class="LinkTitle">
      Tabletop
    </h1>
  </a>
  <a href="/VideoGames" class="ThumbnailFont Link VideoGamesThumbnail">
    <h1 class="LinkTitle">
      Video Games
    </h1>
  </a>
  <a href="/TechDemos" class="ThumbnailFont Link TechDemosThumbnail">
    <h1 class="LinkTitle">
      Tech Demos
    </h1>
  </a>
  <a href="/Art" class="ArtThumbnail ThumbnailFont Link">
    <h1 class="LinkTitle">
      Art
    </h1></a>
  <a href="/Stories" class="StoriesThumbnail Link ThumbnailFont">
    <h1 class="LinkTitle">
      Stories
    </h1>
  </a>
  <a href="/About" class="Link AboutThumbnail ThumbnailFont">
    <h1 class="LinkTitle">
      About
    </h1>
  </a>
  <a href="/Contacts" class="Link ContactThumbnail ThumbnailFont">
    <h1 class="LinkTitle">
      Contacts
    </h1>
  </a>
  <router-outlet></router-outlet>
</div>

<!-- * * * * * *  * * * * * * * -->
<!-- * * * * * *  * * * * * * * -->
<!-- * * * * * *  * * * * * * * -->
<!-- * * * * * * * * * * * * * * -->
<!-- * * * * * *  * * * * * * * -->
<!-- * * * * * * * * * * * * * -->
<!-- * * * * * *  * * * * * * * -->

<router-outlet></router-outlet>
