<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<img src="assets/MainPageBanner.png" class="MainBanner">
<div class="MainContent">
  <a routerLink="/Programming" class="Link ProgrammingThumbnail">
    <h1 class="LinkTitle">
      Tabletop
    </h1>
  </a>
  <a href="#" class="Link">
    <h1 class="LinkTitle">
      Video Games
    </h1>
  </a>
  <a href="#" class="Link">
    <h1 class="LinkTitle">
      Art
    </h1></a>
  <a href="#" class="Link">
    <h1 class="LinkTitle">
      Stories
    </h1>
  </a>
  <a href="#" class="Link">
    <h1 class="LinkTitle">
      About
    </h1>
  </a>
  <a href="#" class="Link">
    <h1 class="LinkTitle">
      Contacts
    </h1>
  </a>
  <router-outlet></router-outlet>
</div>

<!-- * * * * * *  * * * * * * * -->
<!-- * * * * * *  * * * * * * * -->
<!-- * * * * * *  * * * * * * * -->
<!-- * * * * * * * * * * * * * * -->
<!-- * * * * * *  * * * * * * * -->
<!-- * * * * * * * * * * * * * -->
<!-- * * * * * *  * * * * * * * -->

<router-outlet></router-outlet>
