<div class="ViewContent">

    Caleb Clanton is a Missouri-based software developer, specializing in web and
    game development. Looking for work, he makes ends meet with odd jobs. His ambition is to
  become a full-time independent game developer.

  <p>
    He first began as a game developer in 2006 at the age of 10, when he borrowed
    the tried out the demo CD from an issue of Playstation Magazine. As
    he discovered that games had an actual, tangible process to their development,
    his imagination soon sored. From the very beginning, he started with rough sketches
    that he called "concept art" for his game - whatever that might've been to 10-year-old him
  </p>
  <p>
    Later in life, he would tinker endlessly with Flash animation, soon learning
    to progress in ActionScript 2.0. From there, he'd branch into C++, C#. Having
    become a creative-type, he branched his interests into poetry, literature,
    music, and art. He would go on to write two books, a web-novel, various songs,
    and become a digital artist.
  </p>
  <p>
    Present day, Caleb spends his afternoons honing his software development skills.
    After completing his BA in Software Development, he would go on to continue honing
    his skills.
  </p>
</div>
