body
{
  font-family: Standard, Consolas;

  font-size: 2vh;
  background-image: url("assets/TurnipSticker.png"), linear-gradient(#EBE10C,#0CEB38);
  background-repeat: no-repeat, repeat;
  background-position: 105% 105%;
  background-attachment: fixed;
  background-size: min(50vw, 500px) min(50vw, 500px), 100% 100%;
}

.MainBanner {
  width: 60vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.ViewContent
{
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  width: max(45vw, 45vh);
  height: auto;
  margin: auto;
  padding: 15px;
}

@font-face {
  font-family: Standard;
  src: url("assets/SmallMemory.ttf");
}

p
{
  text-indent: 30px;
}

.Link {
  background-color: rgba(255, 255, 255, 0.5);
  width: max(8vw, 10vh);
  height: max(8vw, 10vh);

  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 1);
  padding: 10px;

  margin-right: 6vw;
}

.LinkTitle
{
  font-size: 1.5vw;
  background: -webkit-linear-gradient(0deg, #5D0B94, #C6E022);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.DisplayItemTitle {
  font-size: max(1.5vw, 2.5vh);
}

.DisplayItemBody
{
  background-color: rgba(255, 255, 255, 0.5);
  border-style: solid;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 10px;

  width: auto;
  height: auto;

  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;

  overflow: hidden;
}


.DisplayItemLink
{
  background-color: rgba(255, 255, 255, 0.0);
  border-style: none;
  border-width: 5px;
  border-color: rgba(255, 255, 255, 1);
  border-radius: 10px;

  width: auto;
  height: auto;

  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 0px;

  overflow: hidden;

  animation-name: Dropdown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
